html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    margin: 0;
    height: 100%;
    flex-direction: column;
    min-height: 110vh;
    background-color: burlywood;
    justify-content: center;
    align-items: center;
}

h1{
    background-color: rgb(233, 233, 233);
    text-align: center;
    padding: 8px 0;
    width: fit-content;
    margin-top: 30px;
    border-radius: 4px;
    padding: 10px;
    text-transform: uppercase;
}

.container {
    margin: auto;
    padding: 1em;
    width: 80%;
}

.destination-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.destination {
    background: #03a9f4;
    box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.4);
    color: #111;
    margin: 0.5em;
    min-height: 200px;
    flex: 0 1 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
}

.destination:hover h2{
    transform: rotate(0deg);
}
h2 {
    margin: 0;
    transform: rotate(-45deg);
    transition: transform 0.5s;
    text-shadow: 0 0 10px #333;
}

#florida {
    background-color: #03a9f4;
}

#paris {
    background-color: #d32f2f;

}

#cairo {
    background-color: rgb(128, 55, 196);
}

#roma{
    background-color: rgb(89, 207, 172);
}

#la{
    background-color: orangered;
}

#alex{
    background-color: deepskyblue;
}

ul{
    list-style: none;
}

ul li:nth-child(2){
    margin: 10px 0;
}
a{
    text-decoration: none;
    color: #03a9f4;
    padding: 5px;
}

footer{
    background-color: rgb(78, 78, 78);
    color: rgb(230, 230, 230);
    padding:15px;
    display: flex;
    gap: 15px;
}

.links{
    /* background-color: #03a9f4; */
    text-align: center;
}

.desc p{
    font-size: 17px;
}

footer h4{
    margin-bottom: 10px;
}

@media (max-width:400px) {
    footer{
        flex-direction: column;
    }
}

.top{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px;
}